<?xml version="1.0"?>

<launch>

  <!--namespace that will be used in prefix for the topic names and nodes, recommended when spawning several robots -->
  <arg name="robot_namespace" default="/"/>

  <arg name="x" default="14.0"/>
  <arg name="y" default="9.0"/>
  <arg name="yaw" default="0.0"/>

  <arg name="laser_enabled" default="false"/>
  <arg name="kinect_enabled" default="false"/>
  <arg name="urdf_extras" default="false"/>

  <group ns="$(arg robot_namespace)">
    <!-- For single master bringup, run robot control on the gazebo master -->
    <!-- Note that husky_description/description.launch is already included in husky_control/control.launch. -->
      <include file="$(find husky_control)/launch/control.launch">
        <arg name="laser_enabled" value="$(arg laser_enabled)"/>
      </include>
   

    <!-- Spawn robot in gazebo -->
    <node name="spawn_husky_model" pkg="gazebo_ros" type="spawn_model"
        args="-x $(arg x)
              -y $(arg y)
              -Y $(arg yaw)
              -unpause
              -urdf
              -param robot_description
              -model $(arg robot_namespace)" />

  </group>

</launch>
